<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles/style.css">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Bataille navale</title>
</head>
<body>
<div id="menu">
    <ul id="onglets">
        <li class="active"><a href="home.html"> Accueil </a></li>
        <li><a href="create_game.html"> Créez une partie </a></li>
        <li><a href="join_game.html"> Rejoignez une partie </a></li>
        <li><a href="manage_fleet.html"> Gérez votre flotte </a></li>
    </ul>
</div>
<div class="centered-element">
    <h1>Bataille Navale</h1>
    <img src="images/logo.png">
</div>
</body>
</html>