<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles/style.css">
<script src="scripts/manage-fleet.js"></script>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Bataille navale</title>
</head>
<body>
<div id="menu">
    <ul id="onglets">
        <li><a href="home.html"> Accueil </a></li>
        <li><a href="create_game.html"> Créez une partie </a></li>
        <li><a href="join_game.html"> Rejoignez une partie </a></li>
        <li class="active"><a href="manage_fleet.html"> Gérez votre flotte </a></li>
    </ul>
</div>
<div class="vertical-container">
    <div class="vessel-form-result" id="add-vessel-result"></div>
    <div class="horizontal-container">
        <div class="centered-form">
            <form id="add-vessel-form">
                <label for="player-name">Ton pseudo:</label><br>
                <input type="text" id="player-name" name="player_name" required><br><br>

                <label for="game-id">Identifiant de la partie:</label><br>
                <input type="text" id="game-id" name="game_id" required><br><br>

                <input type="button" value="Charger ma flotte" id="load-fleet"><br><br>

                <label for="vessel-type"> Choisir le type de vaisseau: </label><br>
                <select id="vessel-type" name="vessel_type" required>
                    <option value="">--Choisir le type:--</option>
                    <option value="Cruiser">Cruiser</option>
                    <option value="Destroyer">Destroyer</option>
                    <option value="Frigate">Frigate</option>
                    <option value="Submarine">Submarine</option>
                </select><br><br>

                <label for="x">X:</label><br>
                <input type="number" id="x" name="x" value="0"><br>
                <label for="y">Y:</label><br>
                <input type="number" id="y" name="y" value="0"><br>
                <label for="z">Z:</label><br>
                <input type="number" id="z" name="z" value="0"><br><br>

                <input class="submit-button" type="submit" value="Valider">
            </form>
        </div>
        <div class="vessels-table">
            <table id="vessels-table">
                <thead>
                    <th>Vessel</th>
                    <th>Coordonnées</th>
                    <th>Résistance</th>
                    <th>Arme</th>
                    <th>Munitions</th>
                    <th>Rayon d'action</th>
                </thead>
                <tbody></tbody>
            </table>
            <input type="button" class="play-game" value="Jouez !" id="play-game"><br><br>
        </div>
    </div>
</div>
</body>
</html>